.SideBar {
  width: 25%;
  height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #2487b5;
=======
>>>>>>> Added some nav functionality
=======
  background-color: #2487b5;
>>>>>>> added functionality and some styling
}

img {
  width: 50%;
}
