.attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.attributeDropdownWrapper {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteAttributeWrapper {
  max-width: 10%;
  height: 5%;
}

.deleteAttributeButton {
  cursor: pointer;
  width: 15px;
}

.hiddenDeleteAttributeButton {
  cursor: pointer;
  width: 15px;
  display: none;
}

.valueTypeInput {
  width: 75%;
  background-color: #dddddd;
}

.valueTypeInputCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.requiredCheckBox {
  text-align: center;
}

.deleteButtonWrapper {
  margin-top: 55%;
}

th,
td {
  padding: 2%;
}
