.attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attributesDropdown {
  width: 20%;
  margin: 2%;
}

.deleteAttributeWrapper {
  max-width: 10%;
  height: 5%;
}

.deleteAttributeButton {
  cursor: pointer;
  width: 15px;
}

.hiddenDeleteAttributeButton {
  cursor: pointer;
  width: 15px;
  display: none;
}

.valueTypeInput {
  width: 75%;
  background-color: #dddddd;
}

.valueTypeInputCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.requiredCheckBox {
  text-align: center;
}

.deleteButtonWrapper {
  margin-top: 55%;
}

th,
td {
  padding: 2%;
}

.saveButtonWrapper {
  margin-top: 15%;
}

.modal {
  text-align: center;
}

.invalidTypeName {
  margin-top: 3%;
  text-transform: uppercase;
  color: rgb(211, 0, 0);
}
