.App {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.dashWrapper {
  font-size: 10px;
  height: 100%;
  width: 100%;
  position: relative;
}

.dashContent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.dashHeader {
  text-align: center;
  background-color: white;
  font-size: 2rem;
  padding: 0;
}

.SidebarWrapper {
  height: 100%;
}

.openSidePanelIcon {
  float: left;
  position: relative;
  font-size: 2rem;
  left: 0;
  top: 0;
  margin: 1rem;
}
