.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.typeWrapper {
  text-align: -webkit-center;
}

.imageLabel {
  margin-bottom: 3%;
}

.fillCoordinatesButton {
  width: 100%;
  height: 100%;
  background-color: #1890ff;
  font-size: 1.5rem;
}

.fillCoordinatesButton:active {
  position: relative;
  top: 1px;
}

.saveButtonWrapper {
  text-align: center;
  margin: 10px;
}

.saveMemorialButton {
  width: 100%;
  height: 100%;
  background-color: #4caf50;
  font-size: 1.5rem;
}

.saveMemorialButton:hover {
  background: linear-gradient(to bottom, blue 5%, blue 100%);
  background-color: blue;
}

.saveMemorialButton:active {
  position: relative;
  top: 1px;
}
