.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-size: 1.2rem;
}

.title {
  font-size: 1.5rem;
  margin: 2%;
}

.dropDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.dropDownHeader {
  margin: 1%;
}

.inputLabelsWrapper {
  display: inline-block;
}

.valueType {
  text-align: right;
}

.value {
  text-align: left;
}

.attributesWrapper {
  display: flex;
  flex-direction: column;
  display: center;
}

.attributeName {
  align-content: center;
}

.TaggerForm {
  text-align: center;
}

.mainContainer {
  position: absolute;
  right: 13%;
  width: 10%;
}

.memorialNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  margin-bottom: 2%;
}

.memorialName {
  font-size: 1.2rem;
  padding: 2%;
}

.memorialNameInput {
  width: 65%;
}

.noMemorialNameError {
  visibility: hidden;
  font-size: 1.2rem;
}

.memorialNameError {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  padding: 2%;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.fillCoordinatesButtonWrapper {
  margin: 10px;
}
.fillCoordinatesButton {
  width: 100%;
  height: 100%;
  background-color: #1890ff;
  font-size: 1.5rem;
}

.noCoordsError {
  visibility: hidden;
  font-size: 1.2rem;
}

.coordsError {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

.uploadButtonWrapper {
  margin: 10px;
}
.uploadButton {
  width: 100%;
  height: 100%;
  background-color: #1890ff;
  font-size: 1.5rem;
}

.saveButtonWrapper {
  text-align: center;
}

.saveMemorialButton {
  background-color: #4caf50;
  font-size: 2rem;
  width: 50%;
  height: 100%;
  margin-bottom: 10%;
}

.saveMemorialButton:hover {
  background: linear-gradient(to bottom, #228b22 5%, #228b22 100%);
  background-color: #228b22;
}

.saveMemorialButton:active {
  position: relative;
  top: 1px;
}

.disabledButton {
  background-color: red;
}
