.inputLabel {
    text-align: left;
    font-size: 16px;
}

.invalidInput {
    border-color: red;
    margin-right: 10px;
    flex-direction: left;
}

.validInput{
    color: red;
}


.attributeTextBox {
    margin-right: 10px;
    flex-direction: left;
    background-color: white;

}

.valueTypeTextBox {
    width: 100px;
}

.noError {
    color: transparent;
}

.error {
    color: red;
    font: bold;
}