.hidden {
  display: none;
}

.popUp {
  visibility: visible;
  width: 230px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  bottom: 125%;
  margin-left: -118px;
  margin-bottom: 10px;
  padding-top: 5px;
  text-shadow: 0 -1px #000000;
  box-shadow: black;
  animation: fadein 1s;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.popUp::after {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 30px;
  left: 0.5;
  position: absolute;
  top: 1;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.type {
  text-align: left;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.attributesClass {
  padding: 2px;
  padding-left: 1px;
}

.popUpText {
  text-align: left;
  padding: 5px;
  font-size: 13px;
}

.closeButton {
  background-color: transparent;
  border: none;
  float: right;
  font-size: 12px;
}

.directionsButton {
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #ffffff;
  text-align: center;
  margin: 5px;
  font-size: 13px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
  margin-left: 30%;
  margin-right: 30%;
}

.memorialName {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
