.hidden {
    display: none;
  }

.popUp {
    visibility: visible;
    width: 230px;
    border:2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    position: absolute;
    bottom: 125%;
    margin-left: -118px;
    margin-bottom: 10px;
    padding-top: 5px;
    text-shadow:0 -1px #000000;
    box-shadow: black;
    animation: fadein 1s;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .popUp::after {
    background: linear-gradient(45deg,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    
    content: "";
    height: 30px;
    left: 0.5;
    position: absolute;
    top: 1;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 15px;
  ;}
  
  @keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
  }
  
  .type {
    text-align: left;
    padding: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  
  .popUpText {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding: 5px;
    font-size: 15px;
  }


  .closeButton {
    background-color: transparent;
    border: none;
    float: right;
    font-size: 12px;
    
    
  }