.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.loadingMessage {
  font-size: 32px;
}

.error {
  font-size: 32px;
}

.modalWrapper {
  position: absolute;
  justify-content: center;
}

.closeSideBarIcon {
  overflow: auto;
  position: relative;
  font-size: 2rem;
  /* float: right; */
  color: black;
  top: 0; bottom: 0; right: 0; left: 0;
}
