.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.loadingMessage {
  font-size: 32px;
}

.error {
  font-size: 32px;
}

.modalWrapper {
  position: absolute;
  justify-content: center;
}
