.container {
    display: flex; /* or inline-flex */
}

.firstLabel {
    margin-right: 90px;
}

.secondLabel {
    margin-right: 50px;
}

.thirdLabel {
    margin-right: 50px;
}

.addAttributeButton {
    cursor: pointer;
    width: 5%;
    height: auto;
}

.deleteAttributeButton {
    cursor: pointer;
    width: 5%;
    height: auto;
}
