.container {
    display: flex; /* or inline-flex */
}

.firstLabel {
    margin-right: 90px;
}

.secondLabel {
    margin-right: 50px;
}

.thirdLabel {
    margin-right: 50px;
}

.addAttributeButton {
    cursor: pointer;
    width: 5%;
    height: auto;
}

.deleteAttributeButton {
    cursor: pointer;
    width: 5%;
    height: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.dropdownContent div {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.dropdown div:hover {
    background-color: #ddd;
}

.tableHeader {
    font-size: 16px;
    text-align: left;
  }
  
.tableHeaderDiv {
text-align: center;
}