.NavigationPanel {
  height: 100%;
  width: 100%;
  outline: none;
}
.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.NavigationPanel li {
  margin: 0;
}

.NavigationPanel ul {
  list-style-type: none;
}

.nav {
  color: white;
  font-size: 1rem;
  width: 85%;
  text-align: left;
}

.navIcon {
  width: 2em;
}

li:hover {
  background-color: #278ebe;
}

.iconWrapper {
  text-align: left;
  width: 15%;
}
