.navigationPanelWrapper {
  height: 100%;
  width: 100%;
  outline: none;
}

.NavigationPanel {
  background-color: #30b7f5;
  width: 100%;
}

.MenuItem {
  height: 20%;
}

.MenuItem:hover {
  background-color: white;
}

.menuItemIcon {
  font-size: 2rem;
}

.roleSelectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10%;
}

.nav {
  text-align: center;
  font-size: 1.75rem;
}
