.Memorial {
  width: 100%;
  height: 12%;
  border: 1px solid #eee;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
}
.Memorial:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.hidden {
  display: none;
}

.icon {
  margin: auto 0;
  display: block;
  width: 20%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.memorialInfo {
  margin: auto;
  text-align: center;
}
