.inputLabel {
  text-align: left;
  font-size: 1.2rem;
  color: black;
}

.valueInput {
  font-family: "Lato", cursive;
  font-size: 1.2rem;
  width: 100%;
}

.valueTypeInput {
  width: 75%;
  background-color: #d3d3d3;
  font-size: 1.2rem;
  color: #606060;
}

.valueTypeInputCell {
  display: flex;
  align-items: center;
  margin-top: 2.4%;
  justify-content: center;
}

.valueInputDisabled {
  background: #d3d3d3;
}

.valueInputInvalid {
  background: salmon;
}

.yesNoInput {
  width: 100%;
}

.invalidInput {
  border-color: red;
  margin-right: 10px;
  flex-direction: left;
}

.required {
  font-size: 1.5rem;
  padding: 5px;
  color: red;
}

.notRequired {
  visibility: hidden;
  max-height: 0;
}

.attributeTextBox {
  margin-right: 10px;
  flex-direction: left;
  background-color: white;
}

.noError {
  visibility: hidden;
  font-size: 1.2rem;
}

.error {
  color: red;
  font-size: 1.1rem;
}
