.Sidebar {
  border: 1px solid black;
  width: 15%;
}

.SearchInput {
  width: 100%;
}

.ScrollMenu {
  overflow-y: scroll;
  height: 100%;
}

.closeSideBarIcon {
  font-size: 2rem;
  float: right;
  color: black;
}

.selectTypes {
  width: 100%;
}