.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputLabelsWrapper{
  display: inline-block;
}

.valueType {
  text-align: right;
}

.value {
  text-align: left;
}

.attributesWrapper {
  display: flex;
  flex-direction: column;
}

.attributeName {
  align-content: center;
}

.required:after {
  content: " *";
  color: red;
}

.TaggerForm {
  text-align: center;
}

.mainContainer {
  position: absolute;
  right: 13%;
  width: 10%;
}

.dropDown {
  width: 25%;
  position: absolute;
  left: 37%;
}

.saveMemorialButton {

}

.autoGenerateButton {

}

.imageButton {
}
