.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-size: 1.2rem;
}

.title {
  margin: 10px;
}

.dropDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.memorialTypeNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 2%;
}

.memorialTypes {
  margin-bottom: 3%;
}

.memorialTypeName {
  margin-bottom: 2%;
}

.memorialTypeNameInput {
  margin-bottom: 2%;
  width: 50%;
}

.attributesWrapper {
  display: flex;
  flex-direction: column;
  display: center;
}

